@import "tailwindcss";

@import "./style.css";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-black-500: #252525;
  --color-black-1100: #191919;
  --color-black-1200: #1D1D1D;
  --color-black-1300: #111111;
  --color-parrot-1100: #B8D433;
  --font-gotham: "gotham_blackregular"; 
  --font-gothammedium: "gotham_mediumregular"; 
  --font-gothamultra: "gotham_ultraregular"; 
  --font-palui: "palui_sp_demobold"; 
  --font-copilot: "copilot";
  --breakpoint-xs: 375px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1366px;
  --breakpoint-3xl: 1440px;
  --breakpoint-4xl: 1920px;
}

@font-face {
    font-family: 'palui_sp_demobold';
    src: url('/fonts/PaluiSPDemo-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_mediumregular';
    src: url('/fonts/gotham_medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_blackregular';
    src: url('/fonts/gotham_black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_ultraregular';
    src: url('/fonts/gotham_ultra.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'copilot';
    src: url('/fonts/copilot.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.text-stroke{
    -webkit-text-stroke-width: 1.23px;
    -webkit-text-stroke-color: #FFF;
}
.text-stroke-parrot{
    -webkit-text-stroke-width: 1.23px;
    -webkit-text-stroke-color: #B8D433;
}
/* for marquee  */
.marquee-track {
  animation: marquee 50s linear infinite;
  will-change: transform;
}
  @keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes color-cycle {
  0% {
    color: rgba(255, 255, 255, 0.1);
  }
  20% {
    color: rgba(255, 255, 255, 1);
  }
  40% {
    color: rgba(255, 255, 255, 1);
  }
  60% {
    color: #b8d433;
  }
  80% {
    color: #b8d433;
  }
  100% {
    color: rgba(255, 255, 255, 0.1);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-color-cycle {
  animation: color-cycle 4s ease-in-out forwards;
}

/* Hide default cursor on workSwiper */
.workSwiper {
  cursor: none;
}